### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [15]:
total_players = len(purchase_data.SN.value_counts())

players_df = pd.DataFrame({"Total Players":[total_players]})
players_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [13]:
unique_items_count = purchase_data["Item ID"].nunique()

average_price = purchase_data["Price"].mean()

average_age = purchase_data["Age"].mean()

purchase_count = purchase_data["Purchase ID"].count()

total_purchase_revenue = purchase_data["Price"].sum()

purchasing_summary_df = pd.DataFrame({"Total Unique Items":[unique_items_count],
                                      "Total Items Purchases":[purchase_count],
                                      "Purchase Revenue": [total_purchase_revenue],
                                       "Average Price":[average_price],
                                      "Average Age":[average_age]})

purchasing_summary_df.style.format({"Average Price":"${:,.2f}",
                                    "Purchase Revenue":"${:,.2f}",
                                    "Average Age":"{:,.1f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [22]:
players_gender = purchase_data.groupby("Gender")


total_count_players_gender = players_gender.nunique()["SN"]


percentage_of_genders = total_count_players_gender / total_players * 100


gender_summary = pd.DataFrame({"Percentage of Players": percentage_of_genders,
                               "Total Count": total_count_players_gender})

gender_summary.sort_values(["Total Count"], ascending = False).style.format({"Percentage of Players":"%{:.3f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchases_count = players_gender["Purchase ID"].count()

avg_purchase_price = players_gender["Price"].mean()

avg_purchase = players_gender["Price"].sum()

number_purchases_per_person = avg_purchase/total_count_players_gender

gender_purchases = pd.DataFrame({"Purchase Count": purchases_count,
                                 "Average Purchase Price": avg_purchase_price,
                                 "Average Purchase Value":avg_purchase, 
                                "Number of Purchases per Person": number_purchases_per_person})

gender_purchases.index.name = "Gender"

gender_purchases.style.format({"Average Purchase Price":"${:,.0f}",
                              "Number of Purchases per Person":"{:,.0f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [21]:
age_bins = [0, 10, 15, 20, 25, 30, 35, 40, 100]
group_names = ["Under 10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

age_grouped = purchase_data.groupby("Age Group")

total_count_age = age_grouped["SN"].nunique()
 
percentage_by_age = (total_count_age/total_players) * 100

age_demographics = pd.DataFrame({"Percent of Players": percentage_by_age, "Total Count": total_count_age})

age_demographics.style.format({"Percent of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
purchase_count_age = age_grouped["Purchase ID"].count()

avg_purchase_price_age = age_grouped["Price"].mean()

total_purchase_value = age_grouped["Price"].sum()

avg_purchase_per_person_age = total_purchase_value/total_count_age

age_demographics = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})


age_demographics.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [8]:
spender_stats = purchase_data.groupby("SN")

purchase_count_spender = spender_stats["Purchase ID"].count()

avg_purchase_price_spender = spender_stats["Price"].mean()

purchase_total_spender = spender_stats["Price"].sum()

top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})


spenders_new_format = top_spenders.sort_values(["Total Purchase Value"], ascending=False)

spenders_new_format.style.format({"Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})
spenders_new_format.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [24]:
items = purchase_data[{"Item ID", "Item Name", "Price"}]

item_stats = items.groupby(["Item ID","Item Name"])

purchase_count_item = item_stats["Price"].count()

purchase_value = (item_stats["Price"].sum()) 

item_price = purchase_value/purchase_count_item

most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

popular_new_format = most_popular_items.sort_values(["Purchase Count"], ascending=False)

popular_new_format.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})
popular_new_format.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [10]:
popular_top = most_popular_items.sort_values(["Total Purchase Value"],ascending=False)
popular_top.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})
popular_top.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80